#title{
    background-color: #ef8172;
   
}
h1{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    color: beige;
    font-weight: bolder;

}
.container-fluid{
    padding: 3% 15%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.nav-item
{
    padding:0px 18px;
}
.nav link
{
    font-size: 1.2rem;
    font-family:'Montserrat';
    font-weight: lighter;

}
.download-button
{
    margin: 5% 3% 5% 0%;
}
.logo
{
    width: 60%;
    transform: rotate(25deg);
}


.symbol
{

    color: #ef8172;
    margin-bottom: 1rem;

}
.symbol:hover{
 color: #ff4c68;
}
h3
{
    font-family:'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    
    color: #8f8f8f;
    font-family: 'Montserrat'; 
}


#feature

{
    padding: 7% 15%;
}
 .feature-box
 {
    text-align: center;
    padding:5%;

 }
 #testimonials
 {
    padding: 7% 15%;
    text-align: center;
    background-color:#ef8172;
    color: white;
 }
 h2{
    font-family: 'montserrat';
    font-size: 3rem;
    line-height: 1.5;
 }
 .testimonials-image
 {
    width:20%;
    border-radius: 100%;
    margin: 20px;
 }
 #press
 {
    background-color: #ef8172;
    padding: 3% ;
    text-align: center;
 }
 .press-image{
    width: 15%;
 }
 .carousel-item
 {
    padding: 7% 15%;
 }
 .card
 {
    text-align: center;
  
 }
 #pricing
 {
    padding:100px;
    text-align: center;
    
 }
 @media(max-width:1028px)
 {
    .logo{
        transform: rotate(0);
    }
 }
 #cta
 {
    background-color: #ef8172;
    color: white;
    text-align: center;
   padding: 7% 15%;
   font-family:sans-serif;
   margin-right: 20px;

 }
 #footer
 {
    text-align: center;
    padding: 7% 15%;
 }
.dog
{
    font-family: "Montserrat-black";
}
.icon
{
    padding: 3% 3%;
}